* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.pagination__box {
  display: flex;
  justify-content: center;
}
.filter__auction {
  background-color: rgb(255, 255, 255);
  width: 99%;
  height: auto;
  border-radius: 5px;
  padding: 10px;
}
