.dialog-transaction .chess-square {
  border-style: ridge;
  background: #464239;
  height: 100px;
  width: 100px;
  margin: 3px;
}

.dialog-transaction .chess-square-note {
  border-style: ridge;
  background: rgb(146, 144, 144);
  height: 100%;
  width: 580%;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dialog-transaction .chess-square-note .name-item {
  color: rgb(52, 45, 45);
  font-weight: 1000;
  font-size: 20px;
  white-space: normal;
}

.dialog-transaction .chess-square-note .quantity-item {
  color: rgb(52, 45, 45);
  font-size: 15px;
  display: block;
  white-space: normal;
  font-weight: bold;
  color: rgb(255, 253, 253);
}

.dialog-transaction .chess-square-note .item {
  border-style: ridge;
  background: rgb(200, 197, 197);
  height: 85px;
  width: 80px;
  margin: 3px;
  display: block;
  border-bottom: 7px solid #f6c714;
}

.dialog-transaction .chess-square:hover {
  cursor: pointer;
  background: #eeb20d52;
}

.dialog-transaction .row-chest {
  overflow: auto;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  padding-left: 10px;
  max-height: 524px;
  overflow-y: auto;
}

.dialog-transaction .my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dialog-transaction .text-title {
  color: #504438;
  font-size: 15px;
  line-height: 30px;
}
w-chest
.dialog-transaction .row-content {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.dialog-transaction .chest-transaction {
  border-right: 2px solid #837463;
  padding-right: 10px;
}

.dialog-transaction .row-chest::-webkit-scrollbar {
  width: 0px;
}

/* .dialog-transaction .bar-transaction {
  background-image: url("../../../assets/images/bar.jpg");
  border-bottom-left-radius: 0px;
  height: 25px;
} */

.dialog-transaction .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dialog-transaction .button-khoa {
  border: 3px ridge !important;
  width: 130px;
  color: white;
  background-color: #696b68;
  margin-right: 5px;
}

.dialog-transaction .button-xac-nhan {
  border: 3px ridge !important;
  width: 130px;
  color: white;
  margin-left: 10px;
  margin-right: -10px;
  background-color: #50873e;
}

.dialog-transaction .img-item {
  padding: 5px;
  width: 35px;
  height: 35px;
}

.dialog-transaction .col-title-balo {
  padding-left: 14px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 30px;
}

/* .dialog-transaction .col-title {
  border-right: 2px solid #837463;
  padding-right: 10px;
  padding-left: 14px;
  text-align: center;
} */

.dialog-transaction .title-balo {
  font-weight: 800;
  color: #4b5038;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.dialog-transaction .img-balo {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -10px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.dialog-transaction .button-khoa:hover {
  background-color: #535352 !important;
}

.dialog-transaction .button-xac-nhan:hover {
  background-color: #457436 !important;
}

.dialog-transaction .tag-backgroup {
  padding: 0px 15px;
  /* background-color: rgba(0, 0, 0, 0.11); */
}

.dialog-transaction .div-button {
  margin: 10px;
  text-align: center;
  margin-top: 260px;
}
