<div class="container-fluid" id="footer">
  <div class="container">
    <div class="footer">
      <div class="row">
        <div class="col-12 col-md-3 col-sm-12">
          <a class="navbar-brand" href="#">
            <span>
              <img src="../assets/images/logoFPT.png" alt="homepage" />
            </span>
          </a>
        </div>
          <div class="col-12 col-md-9 col-sm-12">
            <div class="information"></div>
            <h4>THÔNG TIN LIÊN HỆ</h4>
            <p>
              Trụ sở chính Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ
              Liêm, Hà Nội
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
