<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <img src="../assets/images/logoFPT.png"  alt="" />
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12">
        <div class="menu-header">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="#sv-home">Điểm thưởng</a>
                  <a class="nav-link" href="#sv-mission">Danh sách nhiệm vụ</a>
                  <a class="nav-link" href="#sv-gift">Quà tặng của tôi </a>
                  <a class="nav-link" href="#sv-my-mission">Nhiệm vụ của tôi</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  