.upgrade-honey {
  background-image: url("../../../assets/images/bar-transaction.png");
}
.upgrade-honey .ant-card-body {
  background-image: url("../../../assets/images/bar-transaction.png");
}
.dapdo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.upgrade-honey .chess-square {
  border-style: ridge;
  background: #464239;
  height: 70px;
  width: 70px;
  margin: 3px;
}

.upgrade-honey .chess-square:hover {
  cursor: pointer;
  background: #b1850c52;
}

.upgrade-honey .row-chest {
  overflow: auto;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  padding-left: 10px;
  max-height: 12rem !important;
  overflow-y: auto;
}

.upgrade-honey .my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.upgrade-honey .text-title {
  color: #504438;
  font-size: 15px;
  line-height: 30px;
}

.upgrade-honey .row-content {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.upgrade-honey .chest-transaction {
  border-right: 2px solid #837463;
  padding-right: 10px;
}

.upgrade-honey .row-chest::-webkit-scrollbar {
  width: 0px;
}

.upgrade-honey .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.upgrade-honey .img-item {
  padding: 5px;
  width: 35px;
  height: 35px;
}

.upgrade-honey .img-item {
  padding: 5px;
  width: 35px;
  height: 35px;
}

.upgrade-honey .col-title-balo {
  padding-left: 20px;
  margin-bottom: 5px;
  text-align: left;
  line-height: 30px;
}

.upgrade-honey .title-balo {
  font-weight: 800;
  color: #4b5038;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.upgrade-honey .img-balo {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -10px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}
.upgrade-honey .ant-layout-sider {
  flex: 0 0 30% !important;
  max-width: 30% !important;
  min-width: 30% !important;
  width: 30% !important;
  background-image: url("../../../assets/images/bar-transaction.png");
}
.dapdo .name-item {
  color: rgb(52, 45, 45);
  font-weight: 1000;
  font-size: 20px;
  white-space: normal;
}
.dapdo .chess-square-note .quantity-item {
  color: rgb(52, 45, 45);
  font-size: 15px;
  display: block;
  white-space: normal;
  font-weight: bold;
  color: rgb(52, 45, 45);
}

.dapdo .img-item {
  padding: 9px;
  width: 85px;
  height: 85px;
  text-align: center;
}

.dapdo .row-chest {
  overflow: auto;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  padding-left: 10px;
  max-height: 524px;
  overflow-y: auto;
}
.dapdo .chess-square-note .item {
  justify-content: center;
  align-items: center;
  border-style: inset;
  background: rgb(200, 197, 197);
  height: 105px;
  width: 100px;
  margin: 3px;
  display: flex;
  border-bottom: 7px solid #f6c714;
}
.dapdo .chess-square-note {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .item {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.5s;
} */

.animated {
  animation: pulse 0.5s linear infinite;
}

.level-success {
  background-color: #00ff00;
}

.level-failure {
  background-color: #ff0000;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.dapdo .gift-box-container {
  align-items: center;
  justify-content: center;
  height: 100% !important;
  text-align: center;
}

.dapdo .div-button {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10%;
}

.dapdo .div-button .use-button {
  width: 50%;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.content-honey {
  padding: 0px 30px;
  border-style: outset;
  text-align: center;
  height: 100% !important;
}
.content-honey .ant-col {
  height: 100%;
}

.ant-layout-content {
  height: 50% !important;
}

.ant-layout-content .ant-row {
  height: 100% !important;
}

.content-honey > p {
  font-size: 30px;
  color: #cb820a;
  font-family: "VT323", monospace;
  margin: 0;
}

.content-honey .card-honey {
  margin-bottom: 8px;
  height: 50% !important;
}

.content-honey .row-chest {
  overflow: auto;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  padding-left: 10px;
  max-height: 13rem !important;
  overflow-y: auto;
}

.content-honey .row-chest .card-honey:hover {
  cursor: pointer;
  background: #f6c714;
  color: white;
}

.content-honey .row-chest::-webkit-scrollbar {
  width: 0px;
}

.content-honey .auction-honey {
  display: flex;
  align-items: center;
}

.content-honey .auction-honey .name-honey {
  font-size: 20px;
  margin-left: 32px;
}

.content-honey .ant-card-body {
  padding: 0;
  border-radius: 8px;
}

.content-honey .chest-honey .chess-square {
  border-style: ridge;
  background: #464239;
  /* height: 100% !important;
  width: 100% !important; */
  margin: 3px;
}

.content-honey .chest-honey .chess-square-note {
  border-style: ridge;
  background: rgb(146, 144, 144);
  height: 100%;
  width: 580%;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-honey .chest-honey .chess-square-note .name-item {
  color: rgb(52, 45, 45);
  font-weight: 1000;
  font-size: 20px;
  white-space: normal;
}

.content-honey .chest-honey .chess-square-note .quantity-item {
  color: rgb(52, 45, 45);
  font-size: 15px;
  display: block;
  white-space: normal;
  font-weight: bold;
  color: rgb(255, 253, 253);
}

.content-honey .chest-honey .chess-square-note .item {
  border-style: ridge;
  background: rgb(52, 56, 16);
  height: 85px;
  width: 80px;
  margin: 3px;
  display: block;
  border-bottom: 7px solid #f6c714;
}

.content-honey .chest-honey .chess-square:hover {
  cursor: pointer;
  background: #eeb20d52;
}
.upgrade-honey .ant-card-body {
  height: 100%;
}
.upgrade-honey .ant-card {
  height: 100%;
}

/* .content-gift {
  padding: 0px 30px;
  background-color: rgb(52, 45, 45);
  border-style: outset;
  text-align: center;
}

.content-gift > p {
  font-size: 30px;
  color: #cb820a;
  font-family: "VT323", monospace;
  margin: 0;
} */

.content-honey .chest-honey .item-square {
  border-style: ridge;
  background: #464239;
  height: 70px;
  width: 70px;
  margin: 3px;
  display: block;
}

.upgrade-honey .content-honey .chest-honey {
  overflow: auto;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  padding-left: 10px;
  max-height: 13rem !important;
  overflow-y: auto;
}

.upgrade-honey .chest-honey::-webkit-scrollbar {
  width: 0px;
}

.upgrade-honey .chest-honey .item-square:hover {
  cursor: pointer;
  background: #b1850c52;
}
.dapdo .middapdo {
  min-height: 90% !important;
}
