@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.ui-auction {
  background-image: url("../../../assets/images/student-profile/Honey.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.ui-auction .ant-layout-sider {
  min-width: 60% !important;
  border-right: 10px ridge #f6c9148e;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00000088;
}

.ui-auction .ant-layout-content {
  height: 75%;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-family: "VT323", monospace;
}

.ui-auction .ant-layout-footer {
  border-top: 5px ridge #f6c9148e;
  padding-left: 10px;
  padding-right: 10px;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-auction .ant-layout-header {
  border-bottom: 5px ridge #f6c9148e;
  height: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nabla", cursive;
  font-size: 40px;
}

.ui-auction .input-message {
  border: 2px ridge;
  background-color: #faf8f5;
  height: 40px;
  width: 80%;
  color: rgb(0, 0, 0);
  padding-left: 5px;
  font-weight: 500;
  font-size: 20px;
  font-family: "VT323", monospace;
}

.ui-auction .input-message:focus {
  outline: none;
}

.ui-auction .send-message {
  background-color: #f6c714;
  width: 19%;
  border: 2px outset white !important;
  border-radius: 10px;
  height: 40px;
  border: none;
  margin-left: 1%;
  font-size: 20px;
  color: white;
  font-family: "VT323", monospace;
}

.ui-auction .name-item {
  font-family: "VT323", monospace;
  color: #f6c714;
  font-size: 50px;
  line-height: 50px;
}

.avatar {
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}

.avatar.self {
  color: #000;
}

.message {
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
  border-radius: 20px;
  background-color: rgba(222, 226, 215, 0.3);
}

.message-data {
  padding: 5px;
  text-align: end;
}

.message.self {
  justify-content: end;
  background-color: rgba(48, 48, 231, 0.3);
  color: white;
}


.ui-auction .gia {
  font-family: "VT323", monospace;
  color: white;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.ui-auction .gia>span {
  font-family: "VT323", monospace;
  color: #f6c714;
  font-size: 30px;
}

.ui-auction .item-description {
  font-family: "VT323", monospace;
  color: #fff;
  font-size: 25px;
  border-radius: 10px;
}

.ui-auction .user-online {
  font-family: "VT323", monospace;
  color: white;
  font-size: 25px;
  margin-top: 20px;
  position: absolute;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  line-height: 10px;
}

.ui-auction .user-online>div {
  background-color: green;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
}

.ui-auction .time {
  font-family: "VT323", monospace;
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  right: 20px;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  line-height: 20px;
  width: 100px;
}

.ui-auction .pb-5 {
  padding-bottom: 5px;
}

.ui-auction .content-chat {
  margin: 10px 0;
  background-color: rgba(61, 49, 17, 0.12);
  padding: 10px;
  border-radius: 10px;
}

.ui-auction .content-chat>p {
  line-height: 0;
  font-size: 19px;
  color: green;
  text-align: center;
  background-color: red;
}

.ui-auction .content-chat>img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.ui-auction .mid-center {
  height: 90%;
}

.ui-auction .mid-center>img {
  margin-top: 15px;
}