.tc-listStudent .search-input {
  width: 150px;
}

.tc-listStudent .export-button {
  float: right;
  margin-left: 15px;
}

.tc-listStudent .import-button {
  float: right;
}
.tc-listStudent .search-input {
  width: 300px;
}
.search-button {
  margin-right: 10px;
}

.tc-listStudent .search-button {
  background-color: #eeb30d;
  margin-bottom: 24px;
}

.tc-listStudent > .ant-card > .ant-card-body {
  padding-bottom: 0;
}

.tc-listStudent .search-button:hover {
  background-color: #eeb30d !important;
}

.tc-listStudent .import-button {
  background-color: #24923e;
  margin-bottom: 24px;
  height: 40px;
  border-radius: 5px;
  width: 90px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: 500;
  font-size: 13px;
}

.tc-listStudent .export-button {
  background-color: #24923e;
  margin-bottom: 24px;
  float: right !important;
}

.tc-listStudent .import-button:hover {
  background-color: aqua !important;
}
