 .search-button1 {
  width: 100px;
  height: 40px;
  background-color: #1c315e;
  border: 0 solid #dbdbdb;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#addCategory .search-button1:hover,
#addCategory .search-button1:focus {
  background-color: rgb(245 158 11);
  border-color: rgb(245 158 11);
  color: #000000;
}

 .add-button1 {
  background-color: #537fe7;
  border: 0 solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-size: 0.8rem; */
  font-weight: 500;
  line-height: 1;
  /* padding: 1rem 1rem; */
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
width: 150px;
  height: 50px;
  touch-action: manipulation;
}

#addCategory .add-button1:hover,
#addCategory .add-button1:focus {
  background-color: rgb(245 158 11);
  border-color: rgb(245 158 11);
  color: #000000;
}

#addCategory .submit-button {
  background-color: #000000;
  border: 0 solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.7rem 0.9rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#addCategory .submit-button:hover,
#addCategory .submit-button:focus {
  background-color: rgb(245 158 11);
  border-color: rgb(245 158 11);
  color: #000000;
}

#addCategory .update-button {
  padding: 1px 0.7rem;
  background-color: #ed7e1f;
  border: 0 solid #dbdbdb;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#addCategory .update-button:hover,
#addCategory .update-button:focus {
  background-color: rgb(245 158 11);
  border-color: rgb(245 158 11);
  color: #000000;
}

#addCategory .update-button .icon {
  font-size: 15px;
}
#addCategory .update-button:hover .icon {
  color: black;
}

#addCategory .detail-button {
  padding: 1px 0.7rem;
  background-color: #63ab15;
  border: 0 solid #dbdbdb;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#addCategory .detail-button:hover,
#addCategory .detail-button:focus {
  background-color: rgb(245 158 11);
  border-color: rgb(245 158 11);
  color: #000000;
}

#addCategory .detail-button .icon {
  font-size: 15px;
}
#addCategory .detail-button:hover .icon {
  color: black;
}
#addCategory .errorImageMes{
  padding-left: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#addCategory .image-container {
  border: 2px dashed #ddd;
  border-radius: 50%;
  cursor: pointer;
  height: 170px;
  width: 170px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
#addCategory .image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

#addCategory .hidden-input {
  display: none !important;
}

#addCategory .errorImageMes {
  padding-left: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


#addCategory .errorImageMes{
  padding-left: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#detailCategory .image-container {
  border: 2px dashed #ddd;
  border-radius: 50%;
  cursor: pointer;
  height: 170px;
  width: 170px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
#detailCategory .image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

#detailCategory .hidden-input {
  display: none !important;
}

#detailCategory .errorImageMes {
  padding-left: 120px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}