.shop__gift {
  width: 100%;
  height: 100%;
  display: flex;
}

.shop__gift .card__image {
  align-items: center;
  justify-content: center;
  display: flex;
}
.quantity-gift {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.quantity-gift-inside {
  background: none !important;
  width: 70px;
}
.quantity-gift-inside input {
  color: white !important;
}
