.create-transaction .ant-steps-item-active .ant-steps-item-icon {
    background-color: #EEB30D;
    border: none !important;
}

.create-transaction .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #EEB30D;
    border: none !important;
}

.create-transaction .ant-steps-item-title {
    font-weight: 500;
}

.create-transaction .ant-card-body {
    padding-top: 0;
}

.create-transaction .card-history .ant-card-body {
    padding: 0;
}

.create-transaction .ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
    color: white;
    font-weight: bold;
}

.create-transaction .ant-steps-item-finish .ant-steps-item-title::after {
    background-color: #EEB30D !important;
}

.create-transaction .search-input {
    margin: 0;
    margin-right: 15px;
    min-width: 250px;
    margin-bottom: 24px;
    margin-top: 24px;
}


.create-transaction .ant-btn {
    line-height: normal;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.create-transaction .py-25 {
    padding: 25px 0px !important;
}

.create-transaction .p-25 {
    padding: 25px !important;
}

.create-transaction .mt-10 {
    margin-top: 10px;
}

.create-transaction .mt-25 {
    margin-top: 25px;
}

.create-transaction .my-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.create-transaction .mb-10 {
    margin-bottom: 10px;
}

.create-transaction .p-0 {
    padding: 0 !important;
}


.create-transaction .pl-5 {
    padding-left: 5px;
}

.create-transaction .m-0 {
    margin: 0 !important;
}

.create-transaction .mx-10 {
    margin: 0px 10px;
}

.create-transaction .my-15 {
    margin: 15px 0px;
}

.create-transaction .search-button {
    margin-top: 24px;
    background-color: #EEB30D;
    margin-bottom: 24px;
}

.create-transaction .send-button {
    background-color: #EEB30D;
}

.create-transaction>.ant-card>.ant-card-body {
    padding-bottom: 0;
}

.create-transaction .search-button:hover {
    background-color: #EEB30D !important;
}

.create-transaction .send-button:hover {
    background-color: #EEB30D !important;
}

.create-transaction .import-button:hover {
    background-color: #2db34c !important;
}

.create-transaction .select-category .ant-segmented-item-selected {
    background-color: #EEB30D;
    color: rgb(255, 255, 255);
}

.create-transaction .select-category .ant-segmented-item {
    transition: #EEB30D 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.create-transaction .select-category .ant-segmented-thumb {
    background-color: #EEB30D;
}

.create-transaction .content-card .ant-card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.create-transaction .content-card .ant-card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.create-transaction .ant-table-thead>tr>th,
.create-transaction .ant-table-thead>tr>td {
    background-color: #EEB30D;
    color: #fff;
}

.create-transaction .ant-btn svg {
    margin: 0;
}

.create-transaction .ant-col {
    padding-top: 0;
}

.create-transaction .ant-descriptions-header {
    margin: 0;
}

.create-transaction .ant-row>.ant-col>hr {
    border: none;
    height: 0.1px;
    background: #cfcfcf;
    margin: 20px 0;
}
