<div class="container">
    <h1>Danh sách sinh viên</h1>

    <table class="table">
        <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th>Số điểm hiện tại</th>
            <th>Hành động</th>
        </tr>

        <tr ng-repeat="student in students">
            <td>{{student.code}}</td>
            <td>{{student.name}}</td>
            <td>{{student.score}}</td>
            <td>
                <button  ng-click="getId(student.code)" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Thêm điểm thưởng
                </button>
            </td>
        </tr>
    </table>
</div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm điểm thưởng</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- modal  body -->
              <form method="POST">
                <div class="row">
                  <div class="col-3">
                    <label >Số điểm</label>
                  </div>
                  <div class="col-9">
                    <input type="text" placeholder="Enter score" ng-model="score" class="form-control">
                  </div>
                </div>

                <div class="row mt-3">
                    <div class="col-3">
                      <label >Ghi chú</label>
                    </div>
                    <div class="col-9">
                      <textarea type="text" placeholder="Enter note" ng-model="note" class="form-control"></textarea>
                    </div>
                  </div>

              </form>   
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
              <button type="button" class="btn btn-primary"  ng-click="add()">Thêm mới</button>
            </div>
          </div>
        </div>
      </div>
    </div>
