<div class="container">
  <div class="row mt-3">
    <h4 class="col-8">Danh sách sinh viên</h4>
    <div class="col-4">
      <input
        class="form-control"
        type="search"
        ng-model="q"
        placeholder="Nhập thông tin bạn muốn tìm"
        aria-label="Search"
      />
    </div>
  </div>
  <table
    class="table table-bordered m-table d-sm-table m-table--head-bg-primary"
    style="text-align: center; margin-top: 20px"
  >
    <tr class="row-orange">
      <th>Mã</th>
      <th>Tên</th>
      <th>Email</th>
      <th>Số điểm hiện tại</th>
      <th>Hành động</th>
    </tr>

    <tr
      dir-paginate="student in students | filter:q | itemsPerPage: pageSize"
      current-page="currentPage"
      pagination-id="studentsPagination"
    >
      <td>{{student.code}}</td>
      <td>{{student.name}}</td>
      <td>{{student.email}}</td>
      <td>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <button
                ng-click="getId(student.code)"
                type="button"
                class="page-link"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                -
              </button>
            </li>
            <li class="page-item">
              <a style="width: 70px" class="text-dark page-link text-center"
                >{{student.score}}</a
              >
            </li>
            <li class="page-item">
              <button
                ng-click="getId(student.code)"
                type="button"
                class="page-link"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                +
              </button>
            </li>
          </ul>
        </nav>
      </td>
      <td>
        <span my-tooltip tooltip-content="Lịch sử đổi quà">
          <a
            href="#"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#history"
            ng-click="history($event, student.id)"
          >
            <i class="fa fa-history"></i
          ></a>
        </span>
      </td>
    </tr>
  </table>
  <div
    class="text-center"
    style="width: 400px; margin-left: auto; margin-right: auto"
  >
    <dir-pagination-controls
      boundary-links="true"
      template-url="layout/dirPagination.tql.html"
      pagination-id="studentsPagination"
    ></dir-pagination-controls>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Thêm điểm thưởng
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- modal  body -->
          <form method="POST">
            <div class="row">
              <div class="col-3">
                <label>Nhiệm vụ</label>
              </div>
              <div class="col-9">
                <select ng-model="score1" id="" class="form-select">
                  <option
                    ng-repeat="mission in missions"
                    value="{{mission.pointMission}}"
                  >
                    {{mission.name + " : " + mission.pointMission +" đ" }}
                  </option>
                </select>

                <!-- text -->
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <label style="color: #999">Số điểm</label>
              </div>
              <div class="col-9">
                <input
                  type="text"
                  style="
                    color: #999;
                    border: 1px solid #e2e0e0;
                    display: inline-block;
                  "
                  placeholder="Nhập số điểm được cộng thêm (nếu có)"
                  class="form-control"
                  ng-model="score2"
                />

                <!-- text -->
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <label>Ghi chú</label>
              </div>
              <div class="col-9">
                <textarea
                  type="text"
                  placeholder="Enter note"
                  ng-model="note"
                  class="form-control"
                ></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Đóng
          </button>
          <button type="button" class="btn btn-primary" ng-click="add()">
            Thêm mới
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- history -->
  <div
    class="modal fade"
    id="history"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Lịch sử đổi quà
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- modal  body -->
          <form method="POST">
            <div class="row">
              <div class="col-2">
                <label>Tên</label>
              </div>
              <div class="col-10">
                <input
                  type="text"
                  placeholder="Enter name"
                  ng-model="form_mission.name"
                  class="form-control"
                />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-2">
                <label>Điểm</label>
              </div>
              <div class="col-10">
                <input
                  type="number"
                  placeholder="Enter point"
                  ng-model="form_mission.pointMission"
                  class="form-control"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Đóng
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Danh sách quà -->
  <!-- <div
    class="modal fade"
    id="gift"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Danh sách quà tặng
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            ng-click="clearSelection()"
          ></button>
        </div>
        <div class="modal-body">
          <table
            class="table table-bordered m-table d-sm-table m-table--head-bg-primary"
            style="text-align: center; margin-top: 20px"
          >
            <thead>
              <tr class="row-orange">
                <th>Mã</th>
                <th>Tên</th>
                <th>Điểm thưởng</th>
                <th>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    ng-model="selectAll"
                    ng-click="toggleAll()"
                  />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                dir-paginate="g in gift | itemsPerPage: pageSize"
                current-page="currentPage"
                pagination-id="giftPagination"
              >
                <td>{{g.code}}</td>
                <td>{{g.name}}</td>
                <td>{{g.pointGift}}</td>
                <td>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      ng-model="g.selected"
                      ng-click="toggleSelection(g)"
                      studentId
                      id="flexCheckDefault"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            ng-click="clearSelection()"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            ng-click="addHistory($event)"
          >
            Đổi
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
